
/****************颜色****************/
.bgfff{background: #fff;box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);border-radius:3px;}
.blue{color: #20A0FF;}
.green{color: #13CE66;}
.red{color: #FF4949;}
.yello{color: #F7BA2A;}
.f12{font-size: 12px;}
.el-button--danger {
    border-color: #de8473;
    background: #f8917d;
}

.head-nav{
  .el-menu{background: #23262E}
  .el-menu-item{
      &:hover,&:active,&:focus{background: #23262E;color: #fff;border-bottom: 4px solid #5FB878;}
      &.is-active{color: #fff;border-bottom: 4px solid #5FB878;}
  }
}
.left {
  .el-menu{background: #272b32;}
  .el-submenu__title{background: #383d48}
  .el-menu-item,.el-submenu__title{color: #fff;
    border-left: 4px solid #383d48;
    &:hover,&:active,&:focus{
      background-color: #4E5465;
      border-color:#009688;
    }
    &.is-active{
      background: #009688;
      color: #fff;
      border-color:#009688;
    }
  }
}


